html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
  min-height: 1000px;
  font-family: "helvetica neue";
}
h2 {
  color: rgb(8, 8, 9);
  padding: 10px;
  margin-bottom: 5px;
}
h4{
  color: grey;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_form input {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}

.create_form button {
  margin-left: 10px;
  padding: 10px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}
.task {
  display: flex;
  align-items: center;
  width: 390px;
  justify-content: space-between;
  background-color: black;
  color: lightcyan;
  height: 35px;
  padding: 5px, 8px, 5px, 8px;
  margin-top: 10px;
  

}

.checkbox {
  display: flex;
  align-items: center;
}
.line_through {
  text-decoration: line-through;
}


.icon {
  color: grey; 
  cursor: pointer;
  font-size: 24px; 
  margin-left: 30px; 
}


.icon:hover {
  color: #100f0f; 
}

.checkbox.icon {
  margin-right: 5px;
  font-size: 15px;
}

.task div span {
  margin: 0px, 5px, 0px, 4px;
}
.task div .icon {
  cursor: pointer;
  color: grey;
  margin-right: 10px;
}
.icon:hover {
  color: #dd0000; 
}
